@model ICollection<Catalog.Domain.Plate>

@{
    ViewData["Title"] = "Home Page";

}


<div class="text-center">
    <h1 class="display-4">Browse our plates</h1>
</div>


<div class="row">
    <table class="arrowes-table table-striped">
        <thead>
            <tr>
                <th>Registration</th>
                <th>PurchasePrice</th>
                <th>SalePrice</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var plate in Model)
            {
                <tr>
                    <td>@plate.Registration</td>
                    <td>@plate.PurchasePrice</td>
                    <td>@plate.SalePrice</td>
                    @if (plate.Status == Catalog.Domain.PlateStatus.Sold)
                    {
                        <td></td>
                        <td></td>
                    }
                    else
                    {
                        <td>
                            <form action="Reserve" method="post">
                                <input hidden="hidden" type="text" value="@plate.Id" name="id" />
                                <button>
                                    <input type="submit" value="Reserve">
                                </button>
                            </form>
                        </td>
                        <td>
                            <form action="Purchase" method="post">
                                <input hidden="hidden" type="text" value="@plate.Id" name="id" />
                                <button>
                                    <input type="submit" value="Purchase">
                                </button>
                            </form>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>